<div class="button-bar">
    <div class="form-control">
        <input class="input-serch" type="text" placeholder="Поиск..." [(ngModel)]="search">
    </div>
    <div class="app__button">
        <button class="btn btn-add"
        (click)="addUser($event)">Добавить пользователя</button>
    </div> 
</div>
<div class="app__user">
    <div class="app__user-list">
        <table>
            <thead>
            <tr>
            <th>#</th>
            <th>Фото</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Должность</th>
            <th>События</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | searchUser:search; let idx = index">
                    <td>{{ idx + 1 }}</td>
                    <td><img src="{{ user.userpic }}" class="user__image"></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.position }}</td>
                    <td>
                        <a class="btn btn-link open"
                        [routerLink]="['/admin','user', user.id, 'edit']"
                        (click)="showEdit(user.id)"> Открыть</a>
                        <a (click)="remove(user.id)">Удалить</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div  class="app__user-form">

        <div *ngIf="visableUser">
            <app-user-form>
            </app-user-form></div>
            
        <div *ngIf="!visableUser">
                <router-outlet></router-outlet></div>
    </div> 
</div>
